# CMSSW
CMSSW/CMSSW_*
external
.*

# CRAB
CMSSW/crab

#PXLMODULES
PxlModules/build

#analysis
analysis

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# archives
*.gz
*.zip
*.tar

# pxl
*.xml
*.pxlio

# other

*.txt
*.log
*.root
*.pdf
*.C
*.png
*.jpg
*.eps
*.tex


